@import "../variables.scss";
@import "../general_styles.scss";

@mixin row_container($padding) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $padding;

  font-size: 1.125rem;

  border-radius: 0.5rem;
  background-color: $main_light;
  box-shadow: 0 0.25rem 0.75rem rgba($color: $shadow, $alpha: 0.09);

  @media (max-width: 640px) {
    font-size: 0.875rem;
  }
}

@mixin disable_selection() {
  user-select: none;
  -webkit-user-select: none;
}

.account_table {
  @include hide_scrollbar();

  margin-top: 2.75rem;
  overflow-x: scroll;
}

.table_header {
  @include row_container(1.22em 0.7em);
  @include disable_selection();

  min-width: 53rem;

  margin: 0 1rem;

  font-weight: 700;
  letter-spacing: 0.02em;
  color: $text_gray;
}

.rows_container {
  @include hide_scrollbar();

  min-width: 53rem;
  height: 50vh;

  margin-top: 1.5rem;
  padding: 0 1rem;

  overflow-y: scroll;
}

.table_row {
  @include row_container(1em 0.7em);

  font-weight: 500;

  border: 1px solid transparent;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.row_selected {
  border: 1px solid $accent;
}

.row_disabled {
  @include disable_selection();
  opacity: 0.5;
  pointer-events: none;
}

.table_column {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card_number {
  width: 22%;
}

.transactions {
  width: 14%;
}

.balance {
  width: 12%;
}

.username {
  width: 22%;
}

.tokens {
  width: 14%;
}

.exists {
  width: 8%;
}

.error_message {
  margin: 1.5rem 1rem 0;
  font-size: 1.125rem;
}

// ───── Table Skeleton ───────────────────────────────────────────────────── //

.skeleton_container {
  margin: 1.5rem 1rem 0;
}

.skeleton_block {
  height: 3.75rem;
  border-radius: 0.5rem;
  background-color: rgba($color: #3a3a3a, $alpha: 0.05);

  animation: $content_loading_animation;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@for $i from 1 through 5 {
  .block#{$i} {
    animation-delay: 0.1s * $i;
  }
}

// ───── Media queries ────────────────────────────────────────────────────── //

@media (max-width: 880px) {
  .account_table {
    width: calc(100vw - 2rem);
    margin-inline: auto;
    padding: 0;
  }

  .table_header {
    margin: 0;
  }

  .rows_container {
    padding: 0;
  }

  .error_message {
    margin: 1.5rem 0 0;
  }

  .skeleton_container {
    margin: 0;
    margin-top: 1.5rem;
  }
}

@media (max-width: 640px) {
  .account_table {
    margin-top: 2rem;
  }

  .table_header,
  .rows_container {
    min-width: 42rem;
  }

  .rows_container {
    height: 55vh;
  }

  .skeleton_block {
    height: 3rem;
  }

  .error_message {
    font-size: 0.875rem;
  }
}
