@import "../variables.scss";
@import "../general_styles.scss";

@keyframes fade_in_bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in_content {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 1rem;

  background-color: rgba($color: $main_dark, $alpha: 0.1);
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375em);

  opacity: 0;
  animation: fade_in_bg 0.2s ease-out forwards;
  z-index: 99;
}

.content {
  width: 100%;
  max-width: 37rem;

  padding: 1.875rem;

  border-radius: 0.5rem;
  background-color: $main_light;

  opacity: 0;
  animation: fade_in_content 0.2s ease-out forwards;
}

.close_icon {
  display: block;

  width: 1.25rem;
  height: 1.25rem;

  margin-left: auto;

  cursor: pointer;
}

.h2 {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.875rem;
  font-weight: 600;
}

// ───── Content props ────────────────────────────────────────────────────── //

.submit_form {
  max-width: 18.75rem;
  margin: 3.5rem auto 0;
}

.label {
  font-size: 1.125rem;
  font-weight: 600;
}

.text_input,
.select {
  width: 100%;

  margin-top: 0.25rem;
  padding: 0.5rem;

  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1rem;

  border: 1.5px solid $main_dark;
  border-radius: 0.25rem;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $text_gray;
  }
}

.info_message {
  font-size: 1.125rem;
  width: fit-content;
  margin: 2.5rem auto 0;

  span {
    .dot1 {
      animation: content_loading 0.5s linear infinite alternate-reverse;
    }
    .dot2 {
      animation: content_loading 0.5s linear 0.2s infinite alternate-reverse;
    }
    .dot3 {
      animation: content_loading 0.5s linear 0.4s infinite alternate-reverse;
    }
  }
}

.info_container {
  width: fit-content;
  margin: 2.5rem auto 0;
}

.info_status {
  font-size: 1.125rem;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.status_success {
  color: $success;
}

.status_fail {
  color: $warning;
}

.submit_button {
  @include submit_button;
}

.submit_button[disabled] {
  opacity: 0.5;
  cursor: initial;
}

.loader_small {
  @include loader_small;
}

.loader_delete {
  border-top: 0.125rem solid $warning;
}

// ───── New Transaction props ────────────────────────────────────────────── //

.select_container {
  position: relative;
  margin-bottom: 1.5rem;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  color: $text_gray;
  background-color: $main_light;
  cursor: pointer;
}

.arrow_down {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 0.75rem));
  right: 0.5rem;

  width: 1.25rem;
  height: 1.25rem;

  color: $text_gray;
  pointer-events: none;
}

// ───── Delete Account props ─────────────────────────────────────────────── //

.action_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 22.5rem;
  margin: 2rem auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 8.125rem;

  padding: 0.75rem;

  font-size: 0.875rem;
  font-weight: 600;

  border-radius: 0.25rem;
  color: $main_light;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  &:hover {
    filter: brightness(97%);
    -webkit-filter: brightness(97%);
  }
}

.delete_button {
  background-color: $warning;
}

.cancel_button {
  background-color: #cecece;
}

.retry_button {
  margin: 3rem auto 1rem;
  background-color: $accent;
}

@media (max-width: 640px) {
  .content {
    padding: 1rem;
  }

  .submit_form {
    margin-top: 2rem;
  }

  .h2 {
    font-size: 1.5rem;
  }

  .label,
  .info_message {
    font-size: 1rem;
  }

  .submit_button,
  .action_buttons {
    margin-bottom: 1.5rem;
  }
}

@media (max-height: 540px) {
  .content_new_transaction {
    @include hide_scrollbar();

    height: 100%;
    overflow-y: scroll;
  }
}

@media (max-height: 415px) {
  .content_open_credit {
    @include hide_scrollbar();

    height: 100%;
    overflow-y: scroll;
  }
}

@media (max-height: 376px) and (min-width: 640px) {
  .content_new_account {
    @include hide_scrollbar();

    height: 100%;
    overflow-y: scroll;
  }
}
