@import "../general_styles.scss";

.logs_page {
  @include page_padding;
}

.content {
  padding: 3.75rem 1rem 2rem;

  code {
    font-family: "JetBrains Mono";
  }
}

.h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.logs_container {
  @include hide_scrollbar;
  overflow-x: scroll;
}

.log_message {
  white-space: nowrap;
}

.socket_err {
  margin: 2.75rem 0 0;
}

.reconnect_button {
  @include submit_button;
  width: fit-content;
  min-width: 6.375rem;
}

.loader_small {
  @include loader_small;
}
