@import "../general_styles.scss";

.logs_page {
  padding: 8.625rem 1rem 0;

  @media (max-width: 880px) {
    padding-top: 9.75rem;
  }

  @media (max-width: 640px) {
    padding-top: 5.25rem;
  }
}

.content {
  padding: 3.75rem 0rem 2rem;

  code {
    font-family: "JetBrains Mono";
  }
}

.h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding: 0 clamp(0px, (100vw - 70rem) / 2, 9999px);
}
