@import "../variables.scss";
@import "../general_styles.scss";

.main_page {
  @include page_padding;
}

.content {
  padding: 3.75rem 0;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.h2 {
  font-size: 1.875rem;
  font-weight: 600;
}

.action_buttons {
  display: flex;
  align-items: center;
}
