// ───── Colors ───────────────────────────────────────────────────────────── //

$main_bg: #eaebee;
$main_dark: #000000;
$main_light: #ffffff;
$text_gray: #808080;
$accent: #279eff;
$shadow: #3f4756;
$warning: #fb4949;
$success: #5a9b00;
